body{
  background-color: #D3E4CD;
}



.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #E2C2B9;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #D3E4CD;
    width: 102px;
    height: 90px;
    margin: 6px;
}
.b1{
  border-radius: 20px;
  font-size: 40px;
  background: #D3E4CD;
  width: 143px;
  height: 90px;
  margin: 6px;

}

.calculator{
    border: 4px solid #E2C2B9;
    background-color: #99A799;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;

}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
